body {
	
	background-image: #FFFFFF;
	font-family: "Roboto", sans-serif;
	line-height:1.7em;
	font-weight:300;
}

body a {
	text-decoration: none;
	color: #2E9AFE;
}

body a:visited {
	text-decoration: none;
	color: #2E9AFE;
}

body a:hover {
	color: black;
	cursor: pointer;
}

#fixed-background {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: -9999;
}

h2 {
	text-align: center;
	font-size: 1.8em;
}

.section {
	background-color: white;
	padding-top: 50px;
	padding-bottom: 50px;
	width: 90%;
	margin: 40px auto;
	border-color: #2E9AFE;
	border-bottom-width: 2px;
	-webkit-box-shadow: 1px 1px 6px 1px rgba(0,0,0,0.35);
	-moz-box-shadow: 1px 1px 6px 1px rgba(0,0,0,0.35);
	box-shadow: 1px 1px 6px 1px rgba(0,0,0,0.35);
}

.container {

	max-width: 80%;
	margin: 0 auto;
	padding: 0 20;

}

.section-top {
	background: url('../mc-15000.jpg') no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
/*	padding-top: 100px;*/
	text-align: center;
	margin: auto;
}

.section-top h1 {
	margin-top: 120px;
	font-family: "Tinos", serif;
	font-size: 5em;
	letter-spacing: 2px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: rgba(0,0,0,0.4);
	padding : 8px;
	border-radius : 10px;
	display: inline-block;
	line-height: 0.8em;
	max-width: 80%;

}

@media all and (max-width: 1080px) {

	.section-top {
		font-size: 10px;
	}
}

.section-top h2 {
	font-family: "Tinos", serif;
	font-size: 3em;
	letter-spacing: 2px;
	color: #FFFFFF;
	background-color: rgba(0,0,0,0.4);
	padding : 8px;
	border-radius : 10px;
	display: inline-block;
	line-height: 1em;
}

.section-top i {
	color: #FFFFFF;
	background-color: rgba(0,0,0,0.4);
	padding: 5px;
	border-radius : 100px;
	display: inline-block;
	line-height: 1em;
	margin-top: 30px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;

}

.section-top a {
	color: white;
	text-decoration: none;
}

.section-top a:hover {
	color: #FFFFFF;
}

.down-arrow i:hover {
	color: #2E9AFE;
}

#about {
	background-color: #F2F2F2;

}

#showroom {
	background-color: #F2F2F2;

}

.news-photo {
	display: inline-block;
	vertical-align: middle;
	width: 45%;
	border: 0;
/*	padding-left: 40px;*/
}

.news-title {
	font-weight: bold;
	font-style: italic;
}

.news-text {
	margin-left: 8%;
	display: inline-block;
	width: 45%;
	vertical-align: middle;
/*	padding-left: 30px;*/
}

#service {
	background-color: #F2F2F2;

}

#service-image img {
	width: 80%;
	display: inline-block;
	margin: auto;
	/*border: dashed;*/
}

#service-image p {
	text-align: center;
}


#FAQ {
	background-color: #F2F2F2;

}

.nav-bar {
		padding-top: 10px;
		padding-bottom: 10px;
  		z-index: 9999;
  		width: 100%;
  		background-color: #FFF;
  		text-align: center;
  		font-size: 1.2em;
  		border-bottom: dashed;
  		border-bottom-width: 2px;
 }

	.nav-bar a {
		color: black;
		text-decoration: none ;
	}

	.nav-bar a:visited {
		color: black;
		text-decoration: none ;
	}

	.nav-bar a:hover {
		color: #2E9AFE;
	}

.timeline {
	font-weight: bold;
}

#contact i {
	padding: 20px;
	color: black;
}

#contact i:hover {
	color: #2E9AFE;
}


@media (max-width: 400px) {
		.contact-text {
			width: 100%;
			padding-left: 0px;
		}

		.google-map {
			width: 100%; 
		}
}

.contact-text {
	display: inline-block;
	width: 40%;
	vertical-align: middle;
	padding-left: 30px;
}

.google-map {
	vertical-align: middle;
	width: 50%; 
	height: 50%; 
	display: inline-block;
	border: 1px;
}

.question {
	font-weight: bold;
}

.question-body {
	font-style: italic;
}

footer {
	text-align: center;
	padding-top: 30px;
	background-color: white;
	padding-bottom: 30px;
	padding-top: 50px;
	padding-bottom: 50px;
	width: 90%;
	margin: auto;
	-webkit-box-shadow: 1px 1px 6px 1px rgba(0,0,0,0.35);
	-moz-box-shadow: 1px 1px 6px 1px rgba(0,0,0,0.35);
	box-shadow: 1px 1px 6px 1px rgba(0,0,0,0.35);
}

footer i {
	padding: 10px;
	color: black;
}

footer img {
	padding: 10px;
}