body {
	
	background-color: #FFFFFF;
	font-family: "Roboto", sans-serif;
	padding-bottom: 30px;
	line-height:1.7em;
	font-weight:300;
}

body a {
	text-decoration: none;
	color: #2E9AFE;
}

body a:visited {
	text-decoration: none;
	color: #2E9AFE;
}

body a:hover {
	color: black;
	cursor: pointer;
}

h2 {
	text-align: center;
	font-size: 1.8em;
}

.section {
	padding-top: 50px;
	padding-bottom: 50px;
	margin-left: 10px;
	margin-right: 10px;
	border-bottom: dashed;
	border-color: #2E9AFE;
	border-bottom-width: 2px;
}

.container {

	max-width: 70%;
	margin: 0 auto;
	padding: 0 20;

}

.section-top {
	background-image : url('../janome-mc-15000.jpg');
	background-position: center center;
	height: 100%;
	padding-top: 100px;
	background-size : cover;
	text-align: center;
	margin: auto;
}

.section-top h1 {
	font-family: "Tinos", serif;
	font-size: 5em;
	letter-spacing: 2px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: rgba(0,0,0,0.4);
	padding : 8px;
	border-radius : 10px;
	display: inline-block;
	line-height: 0.8em;
}

.section-top h2 {
	font-family: "Tinos", serif;
	font-size: 3em;
	letter-spacing: 2px;
	color: #FFFFFF;
	background-color: rgba(0,0,0,0.4);
	padding : 8px;
	border-radius : 10px;
	display: inline-block;
	line-height: 1em;
}

.section-top i {
	color: #FFFFFF;
	background-color: rgba(0,0,0,0.4);
	padding: 5px;
	border-radius : 100px;
	display: inline-block;
	line-height: 1em;
	margin-top: 30px;
}

.section-top a {
	color: white;
	text-decoration: none;
}

.down-arrow i:hover {
	color: #2E9AFE;
}

#about {
	background-color: #F2F2F2;

}

/*#about a {
	text-decoration: none;
	color: #2E9AFE;
}

#about a:hover {
	color: black;
}

#about a:visited {
	text-decoration: none;
}*/

#showroom {
	background-color: #F2F2F2;

}

/*#showroom a {
	text-decoration: none;
	color: #2E9AFE;
}

#showroom a:visited {
	text-decoration: none;
	color: #2E9AFE;
}*/

.news-photo {
	display: inline-block;
	vertical-align: middle;
	width: 45%;
	border: 0;
	padding-left: 40px;
}

.news-title {
	font-weight: bold;
	font-style: italic;
}

.news-text {
	display: inline-block;
	width: 45%;
	vertical-align: middle;
	padding-left: 30px;
}

/*#news a {
	text-decoration: none;
	color: #2E9AFE;
}

#news a:hover {
	color: black;
}

#news a:visited {
	text-decoration: none;
	color: #2E9AFE;
}*/

#service {
	background-color: #F2F2F2;

}

#service-image img {
	width: 80%;
	display: inline-block;
	margin: auto;
	/*border: dashed;*/
}

#service-image p {
	text-align: center;
}
/*
#service a {
	text-decoration: none;
	color: #2E9AFE;
}

#service a:hover {
	color: black;
}

#service a:visited {
	text-decoration: none;
}*/

#FAQ {
	background-color: #F2F2F2;

}

/*#FAQ a {
	text-decoration: none;
	color: #2E9AFE;
}

#FAQ a:hover {
	color: black;
}

#FAQ a:visited {
	text-decoration: none;
}*/

.nav-bar {
		padding-top: 10px;
		padding-bottom: 10px;
  		z-index: 9999;
  		width: 100%;
  		background-color: #FFF;
  		text-align: center;
  		font-size: 1.2em;
  		border-bottom: dashed;
  		border-bottom-width: 2px;
 }

	.nav-bar a {
		color: black;
		text-decoration: none ;
	}

	.nav-bar a:visited {
		color: black;
		text-decoration: none ;
	}

	.nav-bar a:hover {
		color: #2E9AFE;
	}

.timeline {
	font-weight: bold;
}

#contact i {
	padding: 20px;
	color: black;
}

#contact i:hover {
	color: #2E9AFE;
}
/*
#contact a {
	color: #2E9AFE;
}

#contact a:hover {
	color: black;
}

#contact a:visited {
	color: #2E9AFE;*/
}

@media (max-width: 400px) {
		.contact-text {
			width: 100%;
			padding-left: 0px;
		}

		.google-map {
			width: 100%; 
		}
}

.contact-text {
	display: inline-block;
	width: 40%;
	vertical-align: middle;
	padding-left: 30px;
}

.google-map {
	vertical-align: middle;
	width: 50%; 
	height: 50%; 
	display: inline-block;
	border: 1px;
}

.question {
	font-weight: bold;
}

.question-body {
	font-style: italic;
}

footer {
	text-align:center;
	padding-top: 50px;
}

footer i {
	padding: 10px;
	color: black;
}

footer img {
	padding: 10px;
}